# Analysis introduction

## Purpose
The purpose of this analysis is to look at what impact the global pandemic appears to have had on the London AirBnB marrket. 
- Context on London - borough structure
- Context on AirBnB - when did AirBnB come to London etc.
- Context on the global pandemic in London - first case reported, first official lockdown 

Look at three questions in an attempt to answer this from the perspective of AirBnB hosts and guests. 

## Methodology
The data was obtained from AirBnB inside data and COVID data. This was unzipped etc. and ingested. 
Data processing was performed. 

Key steps:

1. 
2. 
3. 

Data analysis was performed
1. 
2. 
3. 

## WIP - improvements

## Results

## Suggested next steps

# Set up

## Library import

In [1]:
# Data manipulation
import pandas as pd
import numpy as np
from datetime import date, time, timedelta
import datetime as dt
import matplotlib.pyplot as plt
from IPython.display import display, HTML
import re 

# Data manipulation variables
also = ' and '

# Classification accuracy 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

# Visualizations
import plotly
import plotly.graph_objs as go
import plotly.offline as ply
plotly.offline.init_notebook_mode(connected=True)
import plotly.express as px
import seaborn as sns

import cufflinks as cf
cf.go_offline(connected=True)
cf.set_config_file(theme='white')

%matplotlib inline

# Visualisation options
sns.set_style("whitegrid")

# Date parsers
dparser = lambda date: pd.datetime.strptime(date, '%d/%m/%Y %H:%M')
dparser2 = lambda date: pd.to_datetime(date, format='%d/%m/%Y %H:%M', errors='coerce')
dparser3 = lambda date: pd.to_datetime(date, format='%d/%m/%Y %H:%M:%S', errors='coerce')
dshortparser = lambda date: pd.datetime.strptime(date, '%d/%b/%Y')
dshortparser2 = lambda date: pd.datetime.strptime(date, '%d/%m/%Y')
dshortparser3 = lambda date: pd.to_datetime(date, format='%Y%m%d',errors='coerce')

# Hide warnings 
import warnings 
warnings.simplefilter('ignore')

# Autoreload extension
if 'autoreload' not in get_ipython().extension_manager.loaded:
    %load_ext autoreload
    
%autoreload 2


# Another try
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Local library import

In [2]:
import sys
import os

# Find local library directory - which should be located within a parent directory
current_path = os.getcwd()
os.chdir("..")
current_path = os.getcwd() 
libfiledir = "library"

current_path
direxists = False
while direxists==False:
    test_dir = os.path.join(current_path,libfiledir)
    last_current_path = current_path
    direxists = os.path.isdir(test_dir)
    current_path = os.path.dirname(current_path)
    if(current_path == last_current_path):
        break;
        
if direxists == True:
    sys.path.append(test_dir)

In [3]:
os.getcwd()

'/Users/scottbarnes/Google Drive/1 Projects/Data Scientist Nanodegree/Udacity-Data-Scientist-Nanodegree'

In [14]:
os.chdir(os.path.join(os.getcwd() , "1-AirBnB-Analysis"))
os.getcwd()

'/Users/scottbarnes/Google Drive/1 Projects/Data Scientist Nanodegree/Udacity-Data-Scientist-Nanodegree/1-AirBnB-Analysis'

In [15]:
from dataframe_common import *

In [16]:
display_and_show_all??

Data that will be used in notebook for demonstrating functions

# Data ingestion / import

## Ingest and preview the files

In [17]:
import geopandas as gpd

The files were downloaded from the insideairbnb website on 27th August 2020. http://insideairbnb.com/get-the-data.html

In [18]:
ls data/

calendar.csv            listings.csv            neighbourhoods.geojson
calendar_19.csv         listings_det.csv        reviews.csv
calendar_dec.csv        listings_feb.csv        reviews_det.csv
calendar_det.csv.gz     listings_july_19.csv
calendar_feb.csv        neighbourhoods.csv

In [19]:
filename = 'example'
f'data/{filename}.csv'

'data/example.csv'

In [20]:
def get_data(filename):
    #TODO - replace with f string formatting 
    df = pd.read_csv(f'data/{filename}.csv')
    if 'date' in df.columns:
        df['date'] = pd.to_datetime(df['date'])
    return df

### calendars.csv.gz

calendar is an import of calendar.csv.gz. File desription: 'Detailed Listings data for London'.

In [21]:
get_data??

In [22]:
# First uncompress the file 
# ! gunzip 'data/calendar.csv.gz' 
calendar = get_data('calendar')
calendar.sample(3)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
19368324,31692463,2020-12-28,t,$35.00,$35.00,2.0,1125.0
7645039,15062723,2021-06-02,t,$180.00,$180.00,2.0,1125.0
26772993,40418120,2021-01-12,f,$79.00,$79.00,4.0,1125.0

In [23]:
# describe_data(calendar)

In [24]:
calendar['date'] = pd.to_datetime(calendar['date'])

### listings.csv

listings is an import of listings.csv. File description: 'Summary information and metrics for listings in London (good for visualisations).

In [25]:
listings = get_data('listings')
listings.sample(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
5798,4870175,South Wimbledon,25052500,Martin,NaN,Merton,51.41538,-0.19663,Private room,60,1,0,NaN,NaN,1,345
59702,35174338,Cheap Room for Self-Catering Short/Long Stay,2068822,Ming,NaN,Lewisham,51.44246,-0.04465,Private room,21,3,10,2020-03-17,0.85,4,257
54903,32759618,3.3B Double room BOW ACADEMY,13557337,Kindle Assets,NaN,Tower Hamlets,51.52830,-0.01950,Private room,28,2,1,2019-10-15,0.12,249,347

In [26]:
# describe_data(listings)

### listings.csv.gz

listings_det is an import of listings.csv.gz. File description 'Detailed Listings data for London'.

In [27]:
# First rename the file
! mv 'data/listings.csv.gz' 'data/listings_det.csv.gz'
# Then uncompress
! gunzip 'data/listings_det.csv'

mv: rename data/listings.csv.gz to data/listings_det.csv.gz: No such file or directory
gunzip: data/listings_det.csv: unknown suffix -- ignored

### New heading

In [28]:
listings_det = get_data('listings_det')
listings_det.sample(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,...,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
75928,41281734,https://www.airbnb.com/rooms/41281734,20200611182946,2020-06-17,A comfortable double room is available to rent,"The room is spacious, comfortable and cosy. It...",It is a 2 bedroom flat with a communal kitchen...,"The room is spacious, comfortable and cosy. It...",none,"It is a 10mins walk away from different shops,...",NaN,This flat is 10mins walk away from two train s...,NaN,I am always available to help.,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/fbfbabd0-2...,NaN,324230188,https://www.airbnb.com/users/show/324230188,Eva,2020-01-04,"Edgware, England, United Kingdom",I am a person who has a strong passion for peo...,...,2020-06-17,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,t,f,flexible,f,f,1,0,1,0,NaN
31932,20767379,https://www.airbnb.com/rooms/20767379,20200611182946,2020-06-16,"Large Double Room near Canary Wharf, Greenwich...",Perfect to work from home. Large Double room w...,NaN,Perfect to work from home. Large Double room w...,none,NaN,NaN,NaN,NaN,NaN,- No shoes in carpet areas,NaN,NaN,https://a0.muscache.com/im/pictures/cfa11984-c...,NaN,60096205,https://www.airbnb.com/users/show/60096205,Philippe,2016-02-23,"London, England, United Kingdom",I like to travel around the world and learn ab...,...,2020-06-16,41,9,2017-09-08,2020-03-13,98.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,3,0,3,0,1.21
31543,20569667,https://www.airbnb.com/rooms/20569667,20200611182946,2020-06-12,Private en-suite double bedroom with garden view,"This private en-suite has a private bathroom, ...",This flat features high ceiling throughout and...,"This private en-suite has a private bathroom, ...",none,It is one of London’s loveliest neighbourhoods...,You will be able to access wifi throughout the...,"The flat is centrally located in Maida Vale, j...",You as my guests will be able to access the pr...,We are a happy family who have a 3 year old. W...,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/aef97bf6-4...,NaN,97431630,https://www.airbnb.com/users/show/97431630,Mercedes,2016-09-30,"England, United Kingdom",NaN,...,2020-06-12,1,0,2018-06-09,2018-06-09,100.0,10.0,10.0,10.0,10.0,10.0,8.0,f,NaN,NaN,t,f,flexible,f,f,2,1,1,0,0.04

In [29]:
listings_det['host_since'] = pd.to_datetime(listings_det['host_since'])
listings_det['host_since_year'] =listings_det['host_since'].dt.year

In [30]:
listings_hosts = listings_det.groupby(['host_since_year','room_type']).agg(**{'number_listings':('id','count'),'number_hosts':('host_id','nunique')}).reset_index()
listings_hosts['avg_listings_per_host'] = listings_hosts['number_listings']/ listings_hosts['number_hosts']
listings_hosts.tail(19)

,host_since_year,room_type,number_listings,number_hosts,avg_listings_per_host
28,2016.0,Entire home/apt,6008,4064,1.478346
29,2016.0,Hotel room,60,18,3.333333
30,2016.0,Private room,5928,4544,1.304577
31,2016.0,Shared room,117,74,1.581081
32,2017.0,Entire home/apt,5116,2745,1.863752
33,2017.0,Hotel room,70,21,3.333333
34,2017.0,Private room,4084,2852,1.431978
35,2017.0,Shared room,105,68,1.544118
36,2018.0,Entire home/apt,4850,2389,2.030138
37,2018.0,Hotel room,158,34,4.647059
38,2018.0,Private room,3475,2273,1.528817
39,2018.0,Shared room,111,76,1.460526
40,2019.0,Entire home/apt,4686,2804,1.671184
41,2019.0,Hotel room,146,44,3.318182
42,2019.0,Private room,3521,2353,1.496388
43,2019.0,Shared room,94,64,1.468750
44,2020.0,Entire home/apt,1120,691,1.620839
45,2020.0,Private room,773,523,1.478011
46,2020.0,Shared room,17,14,1.214286

In [31]:
listings_det['host_since'].dt.year.value_counts().reset_index()

     index  host_since
0   2015.0       15783
1   2016.0       12113
2   2014.0       11174
3   2017.0        9375
4   2018.0        8594
5   2019.0        8447
6   2013.0        7207
7   2012.0        5915
8   2011.0        2564
9   2020.0        1910
10  2010.0         482
11  2009.0         128
12  2008.0           8

In [32]:
display_and_show_all(describe_data(listings_det))

,field,data_type,number_null,prop_null,count,unique,top,freq
0,id,int64,0,0%,83711,83711,21822160,1
1,listing_url,object,0,0%,83711,83711,https://www.airbnb.com/rooms/23340071,1
2,scrape_id,int64,0,0%,83711,1,20200611182946,83711
3,last_scraped,object,0,0%,83711,11,2020-06-12,17735
4,name,object,25,0%,83711,80853,Double room,36
5,summary,object,4864,5%,83711,72650,nan,4864
6,space,object,25948,23%,83711,52557,nan,25948
7,description,object,3014,3%,83711,76861,nan,3014
8,experiences_offered,object,0,0%,83711,5,none,82172
9,neighborhood_overview,object,30120,26%,83711,43783,nan,30120
10,notes,object,52488,38%,83711,24289,nan,52488
11,transit,object,30846,26%,83711,45048,nan,30846
12,access,object,40189,32%,83711,32029,nan,40189
13,interaction,object,35014,29%,83711,35836,nan,35014
14,house_rules,object,35960,30%,83711,35592,nan,35960
15,thumbnail_url,float64,83711,50%,83711,1,nan,83711
16,medium_url,float64,83711,50%,83711,1,nan,83711
17,picture_url,object,0,0%,83711,81674,https://a0.muscache.com/im/pictures/f2d996a9-0b8e-417b-a8a5-6a35ac0063f2.jpg?aki_policy=large,22
18,xl_picture_url,float64,83711,50%,83711,1,nan,83711
19,host_id,int64,0,0%,83711,53531,33889201,921
20,host_url,object,0,0%,83711,53531,https://www.airbnb.com/users/show/33889201,921
21,host_name,object,11,0%,83711,14719,Veeve,922
22,host_since,datetime64[ns],11,0%,83711,3665,2015-05-21,953
23,host_location,object,208,0%,83711,2515,"London, England, United Kingdom",34718
24,host_about,object,36097,30%,83711,27106,nan,36097
25,host_response_time,object,49173,37%,83711,5,nan,49173
26,host_response_rate,object,49173,37%,83711,77,nan,49173
27,host_acceptance_rate,object,23165,21%,83711,100,nan,23165
28,host_is_superhost,object,11,0%,83711,3,f,71156
29,host_thumbnail_url,object,11,0%,83711,53284,https://a0.muscache.com/im/pictures/user/9a6c13d8-37e1-426c-86f1-0f64a3a8bd2a.jpg?aki_policy=profile_small,921
30,host_picture_url,object,11,0%,83711,53284,https://a0.muscache.com/im/pictures/user/9a6c13d8-37e1-426c-86f1-0f64a3a8bd2a.jpg?aki_policy=profile_x_medium,921
31,host_neighbourhood,object,19231,18%,83711,518,nan,19231
32,host_listings_count,float64,11,0%,83711,120,1.0,36042
33,host_total_listings_count,float64,11,0%,83711,120,1.0,36042
34,host_verifications,object,0,0%,83711,543,"['email', 'phone', 'reviews', 'jumio', 'government_id']",8980
35,host_has_profile_pic,object,11,0%,83711,3,t,83379
36,host_identity_verified,object,11,0%,83711,3,f,54899
37,street,object,0,0%,83711,1434,"Greater London, England, United Kingdom",46748
38,neighbourhood,object,0,0%,83711,149,City of Westminster,5588
39,neighbourhood_cleansed,object,0,0%,83711,33,Westminster,9534
40,neighbourhood_group_cleansed,float64,83711,50%,83711,1,nan,83711
41,city,object,453,0%,83711,731,Greater London,47331
42,state,object,14849,15%,83711,303,England,64011
43,zipcode,object,1898,2%,83711,34438,nan,1898
44,market,object,726,0%,83711,14,London,82963
45,smart_location,object,0,0%,83711,733,"Greater London, United Kingdom",47331
46,country_code,object,0,0%,83711,3,GB,83709
47,country,object,0,0%,83711,3,United Kingdom,83709
48,latitude,float64,0,0%,83711,20667,51.52466,36
49,longitude,float64,0,0%,83711,32042,-0.18076,34
50,is_location_exact,object,0,0%,83711,2,t,57240
51,property_type,object,0,0%,83711,41,Apartment,55572
52,room_type,object,0,0%,83711,4,Entire home/apt,46712
53,accommodates,int64,0,0%,83711,18,2,35297
54,bathrooms,float64,133,0%,83711,28,1.0,57355
55,bedrooms,float64,164,0%,83711,19,1.0,52677
56,beds,float64,984,1%,83711,27,1.0,44466
57,bed_type,object,3,0%,83711,6,Real Bed,83102
58,amenities,object,0,0%,83711,74535,{},346
59,square_feet,float64,83333,49%,83711,150,nan,83333
60,price,object,0,0%,83711,889,$50.00,3125
61,weekly_price,object,77281,48%,83711,678,nan,77281
62,monthly_price,object,79131,48%,83711,825,nan,79131
63,security_deposit,object,29532,26%,83711,374,nan,29532
64,cleaning_fee,object,22104,20%,83711,255,nan,22104
65,guests_included,int64,0,0%,83711,20,1,60667
66,extra_people,object,0,0%,83711,109,$0.00,51558
67,minimum_nights,int64,0,0%,83711,113,1,27107
68,maximum_nights,int64,0,0%,83711,330,1125,49262
69,minimum_minimum_nights,int64,0,0%,83711,111,1,27429
70,maximum_minimum_nights,int64,0,0%,83711,130,1,23351
71,minimum_maximum_nights,int64,0,0%,83711,301,1125,55137
72,maximum_maximum_nights,int64,0,0%,83711,301,1125,55577
73,minimum_nights_avg_ntm,float64,0,0%,83711,494,1.0,23514
74,maximum_nights_avg_ntm,float64,0,0%,83711,671,1125.0,55125
75,calendar_updated,object,0,0%,83711,111,3 months ago,12162
76,has_availability,object,0,0%,83711,1,t,83711
77,availability_30,int64,0,0%,83711,30,0,44196
78,availability_60,int64,0,0%,83711,56,0,40307
79,availability_90,int64,0,0%,83711,85,0,38119
80,availability_365,int64,0,0%,83711,353,0,34805
81,calendar_last_scraped,object,0,0%,83711,11,2020-06-12,17735
82,number_of_reviews,int64,0,0%,83711,421,0,21568
83,number_of_reviews_ltm,int64,0,0%,83711,128,0,40049
84,first_review,object,21568,20%,83711,2988,nan,21568
85,last_review,object,21568,20%,83711,2033,nan,21568
86,review_scores_rating,float64,23226,21%,83711,57,nan,23226
87,review_scores_accuracy,float64,23286,21%,83711,10,10.0,41422
88,review_scores_cleanliness,float64,23276,21%,83711,10,10.0,33668
89,review_scores_checkin,float64,23335,21%,83711,10,10.0,46008
90,review_scores_communication,float64,23284,21%,83711,10,10.0,47263
91,review_scores_location,float64,23333,21%,83711,9,10.0,40367
92,review_scores_value,float64,23334,21%,83711,10,10.0,30486
93,requires_license,object,0,0%,83711,2,f,83709
94,license,object,83498,49%,83711,51,nan,83498
95,jurisdiction_names,object,83710,49%,83711,2,nan,83710
96,instant_bookable,object,0,0%,83711,2,f,48023
97,is_business_travel_ready,object,0,0%,83711,1,f,83711
98,cancellation_policy,object,0,0%,83711,8,strict_14_with_grace_period,33696
99,require_guest_profile_picture,object,0,0%,83711,2,f,82926
100,require_guest_phone_verification,object,0,0%,83711,2,f,82411
101,calculated_host_listings_count,int64,0,0%,83711,76,1,43595
102,calculated_host_listings_count_entire_homes,int64,0,0%,83711,74,0,30337
103,calculated_host_listings_count_private_rooms,int64,0,0%,83711,36,0,40351
104,calculated_host_listings_count_shared_rooms,int64,0,0%,83711,14,0,82518
105,reviews_per_month,float64,21568,20%,83711,772,nan,21568
106,host_since_year,float64,11,0%,83711,14,2015.0,15783

### neighbours.csv

neighbourhoods in an import of neighbourhoods.csv. File description: 'neighbourhood list for geo filter. Sourced from city or open source GIS files.'

In [33]:
neighbours = get_data('neighbourhoods')
neighbours.sample(3)

    neighbourhood_group neighbourhood
2                   NaN        Bexley
11                  NaN       Hackney
18                  NaN     Islington

In [34]:
# describe_data(neighbours)

### neigbours.geojson

In [35]:
get_data??

In [36]:
##neighbours_geo = gpd.read_file('data/neighbourhoods.geojson')
## neighbours_geo

### reviews.csv

reviews is an import of reviews.csv. File description: 'summary review data and listing ID (to faciliate time based analytics and visualisations linked to a listing).

In [37]:
reviews = get_data('reviews')
reviews.sample(3)

        listing_id       date
987369    21874209 2018-08-22
617874    13839213 2018-05-07
335919     5853834 2019-07-07

In [38]:
# describe_data(reviews)

### reviews.csv.gz

In [39]:
# First rename the file
! mv 'data/reviews.csv.gz' 'data/reviews_det.csv.gz'
# Then uncompress
! gunzip 'data/reviews_det.csv'

mv: rename data/reviews.csv.gz to data/reviews_det.csv.gz: No such file or directory
gunzip: data/reviews_det.csv: unknown suffix -- ignored

In [40]:
reviews_det = get_data('reviews_det')
display_and_show_all(reviews_det.sample(3))

,listing_id,id,date,reviewer_id,reviewer_name,comments
1278566,32775493,509385925,2019-08-14,279961980,Jessica,Varsha is a charming lady who cares as much about the well-being of her guests as humanly possible. While the place itself is quite small (as shown in the pictures) everything one could need is supplied: from drinks and breakfast to flyers and adapters. \nThank you again Varsha for being such a great host and nice person!
985219,21835866,248360803,2018-03-31,175099647,Tarja,Sijainti hyvä .Tyypillinen itä-Lontoo lähiö missä monenlaista kansallisuutta. 2 asemaa melko lähellä mistä oli helppo liikkua. Itse asunnon lähellä ei hirveästi palveluja ollut. Asunto siisti ja asiat hoitui isännän kanssa hyvin. Talo rauhallinen ja siisti. Ainoa huono puoli että lämmin vesi ei kunnolla riittänyt 4 hengelle suihkussa. Ja TV ei pystynyt katsomaan kun ei ollut antennijohtoa. Pärjättiin kyllä ilmankin televisiotakin hyvin. Kiitos Arthurille.
81256,627920,352503515,2018-11-25,51163491,Ludovica,"Deborah’s place is great: the location near the canal is very beautiful and perfect for a walk or run; the house is very nice and has all the appliances one might need when travelling. It is great for a long stay, the house was very clean, and the host provided regular cleaning; the whole place was comfortable and Deborah was very patient with all my questions and requests, providing all I needed and more. The shared kitchen is very useful and Deborah is a great host, I would suggest staying here. Thank you!"

In [41]:
describe_data(reviews_det)

,field,data_type,number_null,prop_null,count,unique,top,freq
0,listing_id,int64,0,0%,1415078,62143,1436172,775
1,id,int64,0,0%,1415078,1414852,408581378,2
2,date,datetime64[ns],0,0%,1415078,3510,2019-07-07,3065
3,reviewer_id,int64,0,0%,1415078,1181261,166536730,96
4,reviewer_name,object,1,0%,1415078,138073,David,12069
5,comments,object,638,0%,1415078,1356130,The host canceled this reservation 2 days befo...,1630

# Data analysis

## What changes have been seen in the pricing of properties and what impact has this had on property demand?

### Has there been a decrease in nightly rate following the pandemic to attract more business? Has there been an increase in auxiliary costs, e.g. cleaning fee?

In [42]:
# First uncompress the file 
# ! gunzip 'data/calendar_19.csv.gz' 
calendar_19 = get_data('calendar_19')
calendar_19.sample(3)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
9975749,16607654,2019-09-04,t,$45.00,$45.00,2.0,1125.0
2432461,4773243,2019-09-04,t,$75.00,$75.00,90.0,1125.0
23175757,29952682,2020-05-18,f,$105.00,$105.00,2.0,1125.0

In [43]:
listings['neighbourhood'].value_counts()

Westminster               9534
Tower Hamlets             7728
Hackney                   6039
Camden                    6006
Kensington and Chelsea    5888
                          ...
Harrow                     463
Barking and Dagenham       390
Sutton                     321
Havering                   266
Bexley                     262
Name: neighbourhood, Length: 33, dtype: int64

In [44]:
listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11551,Arty and Bright London Apartment in Zone 2,43039,Adriano,NaN,Lambeth,51.46225,-0.11732,Entire home/apt,88,2,192,2020-03-26,1.54,2,347
1,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56802,-0.11121,Private room,65,1,21,2020-02-22,0.18,3,347
2,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,10,89,2020-03-16,0.70,1,288
3,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,NaN,Westminster,51.52195,-0.14094,Entire home/apt,300,3,42,2019-11-02,0.37,15,326
4,17506,Boutique Chelsea/Fulham Double bed 5-star ensuite,67915,Charlotte,NaN,Hammersmith and Fulham,51.47935,-0.19743,Private room,150,3,0,NaN,NaN,2,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83706,43747259,Room with Complete Privacy - Zone 1 Central Lo...,349591259,H,NaN,Westminster,51.51828,-0.15819,Private room,28,1,0,NaN,NaN,1,71
83707,43748104,Sophisticated 3 Bed Apartment Next To River Th...,175128252,Gospodin,NaN,Greenwich,51.48324,-0.01782,Entire home/apt,1880,1,0,NaN,NaN,30,347
83708,43748730,Amazing 1 Bedroom 1 Bath Apartment Safe & Secure,270804039,London,NaN,Barnet,51.59415,-0.24879,Entire home/apt,66,3,0,NaN,NaN,1,73
83709,43749033,King room with OWN bathroom in central London,290487366,Barry,NaN,Southwark,51.50370,-0.09526,Private room,69,7,0,NaN,NaN,1,54
83710,43751716,Double room with separate kitchen and bathroom,149258135,Ilona,NaN,Tower Hamlets,51.51105,-0.01837,Entire home/apt,55,29,0,NaN,NaN,2,60

In [45]:
listings_19 = get_data('listings_july_19')
listings_19.sample(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
47655,23796570,Superb location quiet own space,177309704,Ramona,NaN,Barnet,51.57761,-0.21033,Entire home/apt,69,1,15,2019-06-02,1.07,1,242
51374,25246583,Nice and comfortable studio in Paddington,109994436,Ed,NaN,Westminster,51.51610,-0.17233,Entire home/apt,97,3,2,2018-07-19,0.16,66,343
69169,31999889,Newly refurbished warm guesthouse w/ 2 double ...,236963899,Julio,NaN,Lewisham,51.47482,-0.04740,Private room,75,2,6,2019-05-16,1.64,13,151

Assessing at the neighbourhood / room type level

In [ ]:
neigh_room_price_19 = listings_19.groupby(['neighbourhood','room_type']).agg(**{'count_19':('id','count'),
                                              'median_price_19':('price','median')}).reset_index()

In [ ]:
neigh_room_price_20 = listings.groupby(['neighbourhood','room_type']).agg(**{'count_20':('id','count'),
                                              'median_price_20':('price','median')}).reset_index()

In [ ]:
niegh_room_price_19_20 = neigh_room_price_19.merge(neigh_room_price_20,how='left',on=['neighbourhood','room_type'])

In [ ]:
niegh_room_price_19_20['median_price_change_19_20'] =  niegh_room_price_19_20['median_price_20'] - niegh_room_price_19_20['median_price_19']

In [ ]:
niegh_room_price_19_20.sort_values('median_price_change_19_20')

Unlikely to be fair as lots of varition with in regarding room types etc.

Assessing at room level

In [ ]:
listings_19_price = listings_19[['id','price','neighbourhood','room_type']].rename(columns={'price':'price_19'})
listings_20_price = listings[['id','price']].rename(columns={'price':'price_20'})
listing_19_20_price = listings_19_price.merge(listings_20_price,how='left')
listing_19_20_price['price_change_19_20']   = listing_19_20_price['price_20'] - listing_19_20_price['price_19']
listing_19_20_price

In [ ]:
got_20_price = listing_19_20_price['price_20'].notnull()
listing_19_20_price[got_20_price]['price_change_19_20'].median()

Assessing at a calendar listing level

In [ ]:
calendar.query('listing_id == 33082254').groupby(['price']).agg(**{'min_date':('date','min'),
                                                                  'max_date':('date','max')}).reset_index()

In [ ]:
def clean_calendar(calendar):
    calendar['date_month'] = calendar['date'].dt.month
    calendar['date_year'] = calendar['date'].dt.year
    calendar['price_clean']  = calendar['price'].str.replace("$","")
    calendar['price_clean']  = calendar['price_clean'].str.replace(",","")
    calendar['price_clean'] = calendar['price_clean'].astype(float)
    calendar['adjusted_price_clean']  = calendar['adjusted_price'].str.replace("$","")
    calendar['adjusted_price_clean']  = calendar['adjusted_price_clean'].str.replace(",","")
    calendar['adjusted_price_clean'] = calendar['adjusted_price_clean'].astype(float)    
    calendar['available_flag'] = np.where(calendar['available']=="t",1,0)
    return calendar

In [ ]:
prices_19 = calendar_19.groupby(['listing_id','date_month','date_year'])['price_clean'].median().reset_index()
prices_19 = prices_19.query('date_month == 6 and date_year == 2020')

In [ ]:
# How much the place was forecast to cost in June 2020 in June 2019
# How much the place actually cost in June 2020

In [ ]:
calendar = clean_calendar(calendar)

In [ ]:
prices_20 = calendar.groupby(['listing_id','date_month','date_year'])['price_clean'].median().reset_index()
prices_20 = prices_20.query('date_month == 6 and date_year == 2020')

In [ ]:
prices_19.rename(columns={'price_clean':'june_2020_price_19'},inplace=True)
prices_20.rename(columns={'price_clean':'june_2020_price_20'},inplace=True)

In [ ]:
prices_19

In [ ]:
prices_19_20 = prices_19[['listing_id','june_2020_price_19']].merge(prices_20[['listing_id','june_2020_price_20']],how='left',on='listing_id')

In [ ]:
prices_19_20['discount'] = prices_19_20['june_2020_price_19'] - prices_19_20['june_2020_price_20']

In [ ]:
prices_19_20 = prices_19_20[prices_19_20['discount'].notnull()]

In [ ]:
### Now adding on flag for whether it is available

In [ ]:
calendar['available'].value_counts()

In [ ]:
def create_availablity_df(calendar):
    calendar['available_flag'] = np.where(calendar['available']=="t",1,0)
    availability = calendar.groupby(['listing_id'])['available_flag'].sum().reset_index()
    availability['available'] = np.where(availability['available_flag'] == 0,0,1)
    return availability

In [ ]:
availability_20 = create_availablity_df(calendar)

In [ ]:
availability_20

In [ ]:
prices_19_20 = prices_19_20.merge(availability_20[['listing_id','available']],how='left',on='listing_id')

In [ ]:
prices_19_20 = prices_19_20.query('available == 1')

In [ ]:
prices_19_20 = prices_19_20.merge(listings[['id','neighbourhood','room_type']],how='left',left_on='listing_id',right_on='id')

In [ ]:
listings.groupby(['neighbourhood'])['id'].count().sort_values()

In [ ]:
prices_19_20.groupby(['neighbourhood','room_type'])['discount'].describe().sort_values('50%').head(20)

In [ ]:
#### again doesn't appear to have thrown up a huge discount

In [ ]:
## need to encounter for whether the listing is active or not

## what was the advertised for that property in June 20 vs May 20 - 1 month lag 
## May 20 vs. April 20 - 1 month lag 
## median of these deltas by borough / room type - overlay by COVID
## neeed to remove cases where the room type has changed - i.e. they have performed an upgrade 

### what is the discount type by room/ borough

In [ ]:
calendar

In [ ]:
calendar['adjusted_price_discount'] = calendar['price_clean'] - calendar['adjusted_price_clean']

In [ ]:
calendar.query('date_month == 6 and date_year == 2020 and available_flag == 1')['adjusted_price_discount'].describe()

### Have properties that have adjusted their prices seen an uptake in demand vs. other areas?

## What changes have been seen in the availabiliy of London properties on AirBnB?

### Does the data suggest some hosts may be removing their properties from AirBnB? Are there less new hosts than there used to be?

In [ ]:
calendar.groupby(['date_year','date_month','available_flag'])['listing_id'].count().reset_index().head(5)

In [ ]:
## Availability rate over time - plot borough number of properties listed as bar, 
## Availability rate as Line chart

In [ ]:
calendar.head(2)

In [ ]:
def create_availability_change(calendar):
    listings_by_month = calendar.groupby(['date_year','date_month']).agg(**{'all_listings':('listing_id','nunique')})
    availability_by_month = calendar.query('available_flag == 1').groupby(['date_year','date_month']).agg(**{'listings_available':('listing_id','nunique')}).reset_index()

    df = listings_by_month.merge(availability_by_month,how='left',on=['date_year','date_month'])
    df['availability_rate'] = df['listings_available'] / df['all_listings']
    return df

In [ ]:
availability_20 = create_availability_change(calendar)
availability_20

In [ ]:
calendar_19['available_flag'] = np.where(calendar_19['available']=="t",1,0)

In [ ]:
availability_19 = create_availability_change(calendar_19)
availability_19

In [ ]:
calendar = get_data('calendar')

In [ ]:
! ls data/

In [ ]:
# First uncompress the file 
# ! gunzip 'data/calendar_feb.csv.gz' 
calendar_feb = get_data('calendar_feb')
calendar_feb.sample(3)

In [ ]:
calendar_feb = clean_calendar(calendar_feb)

In [ ]:
availability_20_feb = create_availability_change(calendar_feb)
availability_20_feb

In [ ]:
# First uncompress the file 
! gunzip 'data/calendar_dec.csv.gz' 
calendar_dec = get_data('calendar_dec')
calendar_dec.sample(3)

In [ ]:
calendar_dec = clean_calendar(calendar_dec)

In [ ]:
availability_19_dec = create_availability_change(calendar_dec)
availability_19_dec

In [ ]:
availability_20_jun = create_availability_change(calendar)
availability_20_jun

In [ ]:
availability_19_dec.rename(columns={'availability_rate':'availability_rate_dec'},inplace=True)
availability_20_feb.rename(columns={'availability_rate':'availability_rate_feb'},inplace=True)

In [ ]:
### Is the increase in availability rate actually indicative of people cancelling future bookings?
avail_change = availability_19_dec.merge(availability_20_feb,how='left',on=['date_year','date_month'])
avail_change.merge(availability_20_jun,how='left',on=['date_year','date_month'])

In [ ]:
calendar_feb.query('available == "t" and date_year == 2020 and date_month == 3')['listing_id'].nunique()

In [ ]:
calendar_feb.query('available == "t" and date_year == 2020 and date_month == 3').head(5)

In [ ]:
listings_det.query('id == 67934')

In [ ]:
calendar_feb

In [ ]:
df = calendar_feb.query('available == "t" and date_year == 2020 and date_month == 3').groupby(['listing_id']).agg({'available_flag':'sum'}).reset_index()

In [ ]:
df['available_flag'].describe()

### Does the data suggests that there has been an increase in cancellation rate across different Boroughs?

## What changes have their been in the types of stay that are available to guests and has this been reflected in demand?

### Has there been a change in the minimum and maximum nights avialable?

### Has the length of stay changed following the pandemic?

# Conclusion